<p id="notice"><%= notice %></p>

<h1>Comments</h1>
<p> <%= link_to 'New Comment', new_comment_path %> </p>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Student</th>
      <th>Teacher</th>
      <th colspan="3"></th>
    </tr>
  </thead>



  <tbody>
    <%# reversing them makes the newest comments appear at the top of the page %>
    <% @comments.reverse().each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
        <td><%= link_to comment.student.name, student_path(comment.student) %></td>

        <%# Changing the teacher name to firstInital. lastName %>
        <td><%= comment.teacher.name.slice(0) + ". "+ comment.teacher.name.split(" ")[1] %></td>
        <% if comment.teacher_id == current_teacher.id %>
          <td><%= link_to 'Show', comment %></td>
          <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
          <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr> 
    <% end %>
  </tbody>
</table>



<br>

<%= link_to 'Go Home', root_path %>

