<p id="notice"><%= notice %></p>
<h1> <%= @student.name %> </h1>

<% @comments.sort.each do |comment| %> 
    <p>
    <strong>Content:</strong>
    <%= comment.content %>
    </p>

    <p>
    <strong>Teacher:</strong>
    <%= comment.teacher.name %>
    </p>

    <p>
    <strong>Date Created:</strong>
    <%= comment.created_at.strftime("%A, %d %b %Y %l:%M %p") %>
    </p>
    <br>
<% end %>

<%= link_to 'Go Home', root_path %>



