<h1> <%= @klass.name %>'s Home Page </h1>
<h3>Period: <%= @klass.period %> </h3>


<% @students.uniq.each do |student| %>
    <p>
    <%= link_to student.name, student_path(student) %>
    </p>
<% end %>
<br>
<%= link_to 'Back', :back %>

<br>
<%= link_to 'Go Home', root_path %>
